<style>
  .container{width: 100%;margin: auto;}
  @media(min-width:600px){.container{width: 80%;}}
  @media(min-width:768px){.container{width: 60%;}}
  @media(min-width:1024px){.container{width: 50%;}}
 </style>
 
<div class="container">
<h1>Nanyang Technology University(NTU)</h1>
  <p><img src="https://th.bing.com/th/id/R.be488098bf1294e1ae448341fdafba00?rik=WniWB0iStBOJOg&riu=http%3a%2f%2fwww.helloedu.com.cn%2fupload%2f2014%2f03%2f19%2f17%2f201403191754238461.jpg&ehk=fO%2bC%2bV%2fS4ScSGy%2fH7Cn9H5JoTWUEcD1qDpKv8%2f14A6c%3d&risl=&pid=ImgRaw&r=0" 
      width="300" height="200"></p>
  <h2>Nanyang Technological University (NTU) is a leading research-intensive university in Singapore. It is known for its strong emphasis on research and innovation, as well as its commitment to providing a high-quality education to its students. NTU offers a wide range of undergraduate and postgraduate programs in various fields such as engineering, business, science, humanities, arts, and social sciences.

NTU is consistently ranked as one of the top universities in the world and is particularly renowned for its expertise in engineering and technology. The university has a strong focus on interdisciplinary research and collaboration, with a reputation for producing cutting-edge research across various disciplines.

NTU's campus is modern and vibrant, with state-of-the-art facilities to support teaching, research, and student life. The university is home to a diverse and dynamic community of students and faculty members from around the world. NTU also has partnerships with many global institutions, offering students opportunities for international exposure and collaboration.

Overall, Nanyang Technological University is a prestigious institution known for its innovation, research excellence, and commitment to providing a well-rounded education for its students.</h2>
  <button onclick="window.location.href = 'https://www.ntu.edu.sg';">More infomation</button>
</div>
