<style>
  .container{width: 100%;margin: auto;}
  @media(min-width:600px){.container{width: 80%;}}
  @media(min-width:768px){.container{width: 60%;}}
  @media(min-width:1024px){.container{width: 50%;}}
 </style>
 
<div class="container">
<h1>Nanyang Technology University(NTU)</h1>
  <p><img src="https://th.bing.com/th/id/R.be488098bf1294e1ae448341fdafba00?rik=WniWB0iStBOJOg&riu=http%3a%2f%2fwww.helloedu.com.cn%2fupload%2f2014%2f03%2f19%2f17%2f201403191754238461.jpg&ehk=fO%2bC%2bV%2fS4ScSGy%2fH7Cn9H5JoTWUEcD1qDpKv8%2f14A6c%3d&risl=&pid=ImgRaw&r=0" 
      width="300" height="200"></p>
  <h2>Nanyang Technological University is a prestigious institution known for its innovation, research excellence, and commitment to providing a well-rounded education for its students.</h2>
  <button onclick="window.location.href = 'https://www.ntu.edu.sg';"style="font-size: 20px; padding: 10px 20px;">More infomation</button>
  <form action="/main" method="post">
        <input type = "submit" value="Main" style="width:200px;height:100px;">
  </form>
  <form action="/end" method="post">
    <input type = "submit" value="End" style="width:200px;height:100px;">
  </form>
</div>
